<div class="container">
  <h1 [ngStyle]="{'font-weight':'bold', 'text-align': 'center', 'margin-bottom': '20px'}" [appTodo]>{{title}}</h1>
  <div>
    <input placeholder=" Input Task" type="text" #newTodo /> 
    <button [ngStyle]="{'width':'200px', 'height':'50px', 'font-weight':'bold'}" type="button" class="btn btn-primary btn-circle btn-xl text-black" (click)="add(newTodo.value);newTodo.value='';">Add</button>   
  </div>
  <hr/>
  <table class="table table-stripped">
  <thead>
    <tr [ngStyle]="{'background-color':'aqua'}" [appHeader]>
      <th>ID</th>
      <th>Task</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}#</td>
      <td>{{todo.label}}</td>
      <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
      <td><button type="button" class="btn btn-danger btn-circle btn-xl text-black" (click)="delete(todo)">Delete</button></td>
      <td><button type="button" class="btn btn-info btn-circle btn-xl text-black" (click)="change(todo)">Change</button></td>
    </tr>
  </table>
</div>